July/
July_env/
.vscode
.idea
__pycache__
segmentation_models/
bugs.txt
12.png
camera_test.py
colibration.py
coordinates.csv
Extensions.txt
finalized_model.sav
k_means.py
test.py
robot_test.py
*.hdf5
tt_test.py
calibration_config.py
predict.png